$max-width : 1200px;
$gutter: 20px;  //spaces in between grids
$finger-size: 40px;  //Ideal user's finger size in pixel
$border-radius: 3px;
//
$color-navy: #083B87;
$color-blue: #01ACEE;
$color-soft-blue: #F1F6FF;
//
$font-family: 'Open Sans', 'Roboto', Arial, sans-serif;


