$Header-height: 68px;
.Header {
height: $Header-height;

  .container {
    position: relative;
    display: flex; //All the items will be next to each other
    align-items: center;
    height: 100%;
  }

  &-switch {
    margin-left: auto;
    position: relative;
    left: 10px;
    @include media-query() {
      display: none;
    }

    color: blue;
  }

  &-menu { //Header-menu
    pointer-events: none;
    opacity: 0;
    //transform: translateX(100%);
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: $Header-height;
    padding-left: $gutter;
    padding-right: $gutter;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 20px 30px rgba(black, 0.2);

    .Header.menu-show & {
      pointer-events: auto;
      opacity: 1;
      //transform: translateY(0);
      transition: 0s;
      margin-left: auto;
    }

     @include media-query("tablet") {
       pointer-events: auto;
       opacity: 1;
       transform: translateY(0);
       margin-left: auto;
       flex-direction: row;
       position: static;
       box-shadow: none;
       background-color: transparent;
       padding-right: 0;
       padding-left: 0;
       padding-bottom: 0;
     }


    &-user {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
       @include media-query {
         flex-direction: row;
       }
      a {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        height: $finger-size;

        &:hover {
          background-color: red;
        }
      }
    }

    &-property {
      justify-content: center;
      margin-top: 5px;
       @include media-query {
         margin-top: 0;
       }
    }

    &-helper {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      @include media-query {
        margin-left: 20px;
        margin-top: 0;
      }

      select {
        color: $color-navy;
        appearance: none;
        background: transparent;
        border: 1px solid #E0E6F1;
        padding-left: 10px;
        padding-right: 10px;
        height: $finger-size;
        border-radius: 0px;

        &:nth-child(1) {
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;
        }

        &:nth-child(2) {
          border-left-width: 0;
          border-bottom-right-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }

      }
    }

  }

  &-logo {
    img {
      width: 144px;
    }
  }
}
