.Showcase {
  padding-top: 30px;
  padding-bottom: 30px;
  background: url(img/showcase_back.jpg) no-repeat center center / cover;
  color: white;
  text-align: center;


   @include media-query {
     padding-top: 80px;
     padding-bottom: 100px;
   }

  .container {

  }

  &-title {
   @include media-query {
     font-size: 3em;
   }
  }

  &-subtitle {
    margin-top: 20px;
     @include media-query {
       font-size: 1.2em;
     }
  }

  &-shortlink{
    margin-top: 40px;

     @include media-query {
       margin-top: 60px;
       display: flex;
       align-items: center;
       justify-content: center;

     }
    a {
      display: block;
      color: inherit;
       @include media-query {
         margin-left: 10px;
         margin-right: 10px;
       }

      & + a {
        margin-top: 10px;
         @include media-query {
           margin-top: 0;
         }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-store{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


    &-link{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: rgba(black, 0.15);
      margin-left: 10px;
      margin-right: 10px;
      border-radius: $border-radius;

      @include media-query {
        height: 50px;
      }

      &:hover{
        background-color: rgba(black, 0.3);
      }
      img{
        width: 90px;
         @include media-query {
              width: 110px;
         }
      }
    }
  }
}

.Search {
  text-align: left;
  margin-top: 30px;
  background-color: $color-yellow;
  padding: $gutter;
  box-shadow: 0 20px 40px rgba(black, .3);

   @include media-query {
     padding: 40px;
     margin-top: 50px;
     margin-left: 50px;
     margin-right: 50px;
   }


  &-form {
    display: flex;
    position: relative;
    flex-direction: column;


     @include media-query {
       align-items: flex-start;
       flex-direction: row;
     }


    &-item {
       @include media-query {
         width: auto;

       }

      & + & {
        margin-top: 20px;
         @include media-query {
           margin-top: 0;
           flex-grow: 1;
           margin-left: 10px;
         }
      }
      &-submit {
        display: flex;
        flex-direction: column-reverse;
      }
    }

  }

  .for-work {
    font-size: $font-size-small;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

     @include media-query {
       position: absolute;
       top: calc(#{$finger-size} + 20px);
       right: 0;
     }

    .checkbox {
      margin-left: 10px;
    }
  }
}


